.card-list {
  /* width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust as needed
  width: 100%; */
  gap: 20px;
}

@media screen and (min-width: 1000px) {
  .card-list {
    /* justify-content: space-between; */
  }
}