#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

/* .app {
  flex-direction: column;
  width: 100%;
} */

.h1 {
  text-wrap: wrap;
  font-size: 2rem;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
  
  .card {
    padding: 1em;
    
  }
}

.read-the-docs {
  color: #888;
}


.app {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  color: black;
  position: relative;
  z-index: 1;
}
